node_modules
.next
dist

# логи и кэш
npm-debug.log
yarn-error.log
.pnpm-debug.log
.cache
.env.local
.env.development.local
.env.test.local
.env

# Git
.git
.gitignore

# Docker-файлы (опционально)
Dockerfile.dev
docker-compose.dev.yml

# MacOS
.DS_Store
